#WavelengthMainWindow
{
    background-color: #303030;
}

#SubWindowTitleBar
{
    background-color: #303030;
    padding: 4px 0px;
}

#SubWindowBase
{
    background-color: #1c1c1c;
    border-radius: 6px;
}

QSplitter::handle
{
    background: #303030;
}